[project]
	description = SignalExperiment
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kaza
[access "refs/for/refs/*"]
	read = group user/kaza
	push = group user/kaza
	label-Code-Review = -2..+2 group user/kaza
	label-Verified = -1..+1 group user/kaza
	rebase = group user/kaza
	removeReviewer = group user/kaza
	submit = group user/kaza
[access "refs/heads/*"]
	read = group user/kaza
	create = group user/kaza
	push = +force group user/kaza
	pushMerge = group user/kaza
[access "refs/tags/*"]
	push = +force group user/kaza
	pushTag = group user/kaza
	pushSignedTag = group user/kaza
